<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.anline.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listview.AnListActivity" />
        <activity android:name=".girdview.AnGirdActivity" />
        <activity android:name=".tabview.TabActivity" />
        <activity
            android:name=".slider.SliderActivity"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity android:name=".sliderdraglistview.SliderDragListActivity" />
        <activity android:name=".sliderdraglistview.DemoActivity" />
        <activity android:name=".sliderdraglistview.DifferentActivity" />
        <activity android:name=".sliderdraglistview.SimpleActivity" />
        <activity android:name=".sliderdraglistview.NormalActivity" />
        <activity android:name=".tabbar.TabBarActivity" />
        <activity android:name=".tabbar.page.TabBarHomeActivity" />
        <activity android:name=".tabbar.page.TabBarLauncherActivity" />
        <activity android:name=".tabbar.page.TabBarAppstoreActivity" />
        <activity android:name=".tabbar.page.TabBarIbookActivity" />
        <activity android:name=".tabbar.page.TabBarItunesActivity"></activity>
    </application>

</manifest>
